.vscode/settings.json
basic/exception/build/cmake_install.cmake
basic/exception/build/CMakeCache.txt
basic/exception/build/Makefile
basic/exception/build/testerror.exe
basic/exception/build/CMakeFiles/cmake.check_cache
basic/exception/build/CMakeFiles/CMakeDirectoryInformation.cmake
basic/exception/build/CMakeFiles/CMakeOutput.log
basic/exception/build/CMakeFiles/Makefile.cmake
basic/exception/build/CMakeFiles/Makefile2
basic/exception/build/CMakeFiles/progress.marks
basic/exception/build/CMakeFiles/TargetDirectories.txt
basic/exception/build/CMakeFiles/3.25.0-rc4/CMakeCCompiler.cmake
basic/exception/build/CMakeFiles/3.25.0-rc4/CMakeCXXCompiler.cmake
basic/exception/build/CMakeFiles/3.25.0-rc4/CMakeDetermineCompilerABI_C.bin
basic/exception/build/CMakeFiles/3.25.0-rc4/CMakeDetermineCompilerABI_CXX.bin
basic/exception/build/CMakeFiles/3.25.0-rc4/CMakeRCCompiler.cmake
basic/exception/build/CMakeFiles/3.25.0-rc4/CMakeSystem.cmake
basic/exception/build/CMakeFiles/3.25.0-rc4/CompilerIdC/a.exe
basic/exception/build/CMakeFiles/3.25.0-rc4/CompilerIdC/CMakeCCompilerId.c
basic/exception/build/CMakeFiles/3.25.0-rc4/CompilerIdCXX/a.exe
basic/exception/build/CMakeFiles/3.25.0-rc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
basic/exception/build/CMakeFiles/testerror.dir/build.make
basic/exception/build/CMakeFiles/testerror.dir/cmake_clean.cmake
basic/exception/build/CMakeFiles/testerror.dir/compiler_depend.make
basic/exception/build/CMakeFiles/testerror.dir/compiler_depend.ts
basic/exception/build/CMakeFiles/testerror.dir/depend.make
basic/exception/build/CMakeFiles/testerror.dir/DependInfo.cmake
basic/exception/build/CMakeFiles/testerror.dir/ErrorClass.cpp.obj
basic/exception/build/CMakeFiles/testerror.dir/ErrorClass.cpp.obj.d
basic/exception/build/CMakeFiles/testerror.dir/flags.make
basic/exception/build/CMakeFiles/testerror.dir/linkLibs.rsp
basic/exception/build/CMakeFiles/testerror.dir/objects.a
basic/exception/build/CMakeFiles/testerror.dir/objects1
basic/exception/build/CMakeFiles/testerror.dir/progress.make
